.contact-form {
  .contact-options {
    flex-direction: column;

    .__contact-option {
      display: grid;
      grid-template-columns: auto auto;
      margin-right: auto;
      margin-bottom: 36px;

      .__circle-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 88px;
        height: 88px;
        margin-left: 6px;
        @include font-size(62);
        color: $black;
        background: $white;
        border-radius: 50%;
        filter: drop-shadow(4px 4px 4px #f4c203);
      }

      .--label {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-left: 1.5rem;
        text-align: left;
        @include font-size(24);
      }
    }
  }

  .__contact-form {
    * {
      margin-bottom: 12px;
    }
    .--name-input,
    .--email-input {
      width: 100%;
      height: 50px;
      padding-left: 1rem;
      font-family: "MuseoModerno", cursive;
    }

    .--message-input {
      width: 100%;
      height: 204px;
      padding: 1rem;
      font-family: "MuseoModerno", cursive;
      resize: none;
    }
    .--send-message {
      width: 200px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      background: $yellow;
      font-family: "MuseoModerno", cursive;
      @include font-size(24);
      border: none;
      outline: none;
    }
  }
}
