@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: block;
  position: relative;
  font-family: "MuseoModerno", cursive;
  background: $black;
  background-repeat: no-repeat;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5625rem;
  padding: 0;
  margin: 0;
  color: $white;
  overflow-x: hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: bold;
    @include font-size(36);
    @include line-height(40);
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  button {
    font-family: "MuseoModerno", cursive;
    color: $white;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
  }
}

.container {
  margin: 0px 1rem;
  max-width: 1400px;

  @include respond-above(lg) {
    margin: auto;
  }
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

Link {
  text-decoration: none;

  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}

.page-wrapper {
  max-width: 1440px;
  margin: 24px 36px;
}

.section-header-group {
  border-left: 6px solid $yellow;
  padding-left: 10px;
  margin: 36px 0px;

  .__header {
    margin-bottom: 10px;
  }

  .__label {
    margin: 0;
    @include font-size(16);
    font-weight: 100;
    line-height: 16px;
  }
}

.footer {
  width: 100vw;
  height: 200px;
  background-image: url("../../images/yellow-wavy-footer.png");
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
