@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: block;
  position: relative;
  font-family: "MuseoModerno", cursive;
  background: $black;
  background-repeat: no-repeat;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5625rem;
  padding: 0;
  margin: 0;
  color: $white;
  overflow-x: hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: bold;
    @include font-size(36);
    @include line-height(40);
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  button {
    font-family: "MuseoModerno", cursive;
    color: $white;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
  }

  .--back-button {
    margin-bottom: 1.5rem;
    padding: 0.375rem 1.5rem;
    border: none;
    text-align: left;
    box-shadow: 0px 0px 0.4375rem rgba(0, 0, 0, 0.293139);
    border-radius: 0.125rem;
    transition: all 0.3s ease;
    cursor: pointer;

    color: $black;
    background: $yellow;
  }

  Link {
    text-decoration: none;

    &:focus,
    &:hover,
    &:visited,
    &:link,
    &:active {
      text-decoration: none;
    }
  }
}

.section-header-style-wrapper {
  display: flex;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.section-header-group {
  margin-left: auto;
  border-left: 6px solid $yellow;
  padding-left: 10px;
  margin: 36px 0px;

  .__header {
    margin-bottom: 10px;
  }

  .__label {
    margin: 0;
    @include font-size(16);
    font-weight: 100;
    line-height: 16px;
  }
}

.App {
  // this is to make the footer stay at the bottom of the page
  // sometimes if there is not enough content the footer will move up
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  max-width: 1440px;
  margin: 24px 36px;
  margin-bottom: 200px;
}

.footer {
  width: 100vw;
  height: 200px;
  margin-bottom: 0px;
  background-image: url("../../images/yellow-wavy-footer.png");
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

.hide-for-mobile {
  @include respond-below(md) {
    display: none;
  }
}

.hide-for-desktop {
  @include respond-above(lg) {
    display: none;
  }
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.fade-in-section-x {
  opacity: 0;
  transform: translateX(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section-x.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
