.home-page {
  flex-direction: column;
  .header {
    line-height: 60px;
    text-align: center;
    p {
      @include font-size(24);
      font-weight: 200;
      margin: 0;
    }
    h1 {
      @include font-size(48);
      font-weight: 700;
      margin: 0;
      margin-bottom: 36px;
    }
  }

  .hero-image {
    width: 300px;
    height: 300px;
    background-image: url("../../images/pic.jpeg");
    border-radius: 50%;
    object-fit: cover;
    object-position: 100% 0;
    margin-bottom: 36px;
  }
}
