.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .__video {
    width: 100vw;
  }
}

.__description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;

  @include respond-above(md) {
    flex-direction: row;
  }

  @include respond-above(lg) {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    padding: 50px;
    border: 1px solid $yellow;
  }

  .__left-content {
    @include respond-above(sm) {
      margin-right: 50px;
    }

    h1 {
      margin: 24px;
      font-family: "Times New Roman", Times, serif;
      font-size: 48px;

      @include respond-above(lg) {
        font-size: 100px;
        margin: 67px;
      }
    }

    .__left-bottom {
      @include respond-above(lg) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .__date,
      .__location {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;

        svg {
          margin-right: 10px;
          font-size: 24px;
        }
      }
    }
  }

  .__right-content {
    height: 100%;
    max-height: 500px;
  }

  .__tickets-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    color: $black;
    font-weight: 700;
    margin: 24px auto 24px auto;

    @include respond-above(lg) {
      height: 100%;
      width: 500px;
      height: 452px;
    }

    * {
      padding: 20px;
    }

    .__admission {
      margin-top: 100px;
      font-size: 14px;
    }

    .__price {
      margin-bottom: 50px;
      font-size: 45px;
    }

    .__get-tickets {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 80px;
      background: #ed1f6a;
      font-size: 18px;

      svg {
        margin-right: 10px;
        padding: 0;
        font-size: 40px;
      }
    }
  }
}
