.nav-bar__container {
  width: 100%;
  height: 72px;
  padding: 1rem 1.5rem;
  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    $black 0%,
    $black 53.09%,
    $black 100%
  );
  @include font-size(24);
  color: $white;
  border: 3px solid $yellow;

  .nav-bar {
    .__left-content {
      .__language {
        .--language-button {
          @include font-size(24);
        }
      }
    }

    .hamburger-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      padding: 0;

      .line {
        fill: none;
        stroke: $white;
        stroke-width: 8;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);

        &--1 {
          stroke-dasharray: 60 207;
          stroke-width: 8;
        }
        &--2 {
          stroke-dasharray: 60 60;
          stroke-width: 8;
        }
        &--3 {
          stroke-dasharray: 60 207;
          stroke-width: 8;
        }
      }
      &.open .line {
        &--1 {
          stroke-dasharray: 90 207;
          stroke-dashoffset: -134;
          stroke-width: 6;
        }
        &--2 {
          stroke-dasharray: 1 60;
          stroke-dashoffset: -30;
          stroke-width: 6;
        }
        &--3 {
          stroke-dasharray: 90 207;
          stroke-dashoffset: -134;
          stroke-width: 6;
        }
      }
    }
  }
}
