// caveman image from https://codepen.io/Navedkhan012/pen/vrWQMY

@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

.page-404 {
  position: relative;
  width: 100%;
  font-family: "Arvo", serif;
  text-align: center;

  .caveman-image {
    background-image: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif");
    height: 25rem;
    width: 100%;
    margin: 1.25rem 0px 0.625rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .text-404 {
      position: absolute;
      top: 20%;
      left: 0;
      right: 0;
      @include font-size(80);
      color: black;
    }
  }

  .content-box-404 {
    margin: 0;
    margin-bottom: 0.625rem;

    .looks-like-you-are-lost {
      @include font-size(30);
      font-weight: 500;
      margin-top: 1.25rem;
      margin-bottom: 0.625rem;
    }

    p {
      @include font-size(14);
      font-weight: 300;
      margin: 0;
      margin-bottom: 0.625rem;
    }

    .back-button {
      margin-top: 1.25rem;
      margin-right: auto;
      margin-left: auto;
      padding: 0.625rem 1.875rem;
      border: none;
      text-align: left;
      box-shadow: 0px 0px 0.4375rem rgba(0, 0, 0, 0.293139);
      border-radius: 0.125rem;
    }
  }
}
