.video-preview-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-bottom: 36px;
  padding: 0;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.01);
  }

  @include respond-above(lg) {
    width: auto;
    height: 200px;
    min-height: 66.67vh;
  }

  .__video-label {
    position: absolute;
    top: 70%;
    right: 0;
    left: 0;
    padding: 0px 4rem;
    margin: 0;
    font-weight: 900;
    @include font-size(24);
    line-height: 40px;
    color: $white;
    background: rgba(0, 0, 0, 0.5);

    @include respond-above(lg) {
      padding: 0px 4rem;
      letter-spacing: 0.1em;
      font-weight: 900;
      @include font-size(50);
      @include line-height(158);
      color: $white;
    }
  }

  .__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 65%;
    overflow: hidden;
  }
}
