@use "../mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;

  div {
    max-width: 600px;
    .photo {
      width: 100%;
      object-fit: cover;
      object-position: 55% 0;
      margin: 36px 0;
    }
  }
}
