@use "../mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;

  div {
    max-width: 600px;

    .photo {
      width: 100%;
      height: 40vh;
      margin: 36px 0px;
      background-image: url("/images/donnie-at-comedy-club-china.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
