@use "../mixins" as *;
@use "../colors" as *;

.hero-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 36px;

  .hero-title {
    background: grey;
    margin: 0 24px;
    padding: 0 6px;
    border: 4px solid white;

    h1 {
      text-align: center;
      font-size: 24px;
      font-family: "MuseoModerno", cursive;
      font-weight: bold;
      text-shadow: 1px 1px #a00000;

      @include respond-above(sm) {
        font-size: 48px;
        padding: 24px;
      }
    }
  }

  img {
    max-width: 100%;
    object-fit: scale-down;
  }
}

.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -2;

  .__header {
    line-height: 60px;
    text-align: left;
    p {
      @include font-size(24);
      font-weight: 200;
      margin: 0;
    }
    h1 {
      @include font-size(48);
      font-weight: 700;
      margin: 0;
      margin-bottom: 36px;
    }
  }

  .--donnie-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 55% 0;
    margin-bottom: 36px;
  }
}

// desktop version
@include respond-above(lg) {
  .__top-elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: auto;
    margin: 0 36px;

    .__left-elements {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: auto;
      .__header {
        text-align: left;
        p {
          @include font-size(36);
        }
        h1 {
          @include font-size(96);
          line-height: 112px;
        }

        .__book-me-group {
          display: flex;
          align-items: center;
          margin-bottom: 100px;

          .--navigation-button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 200px;
            height: 60px;
            margin-right: 52px;
            padding: 0px 1rem;
            background: $yellow;
            font-family: "MuseoModerno", cursive;
            @include font-size(24);
            color: $black;
            transition: all 0.3s ease;

            &:hover {
              transform: scale(1.05);
            }
          }
        }
      }
    }

    .__social-media-group {
      .--social-media-label {
        @include font-size(24);
      }
      .social-media-buttons {
        justify-content: start;
        margin-bottom: 36px;
        .__circle-button {
          width: 65px;
          height: 65px;
          margin: none;
          margin-right: 1rem;
          @include font-size(65);
        }
      }
    }

    .__right-elements {
      margin-left: auto;
      .--hero-image {
        width: 600px;
        height: 600px;
        border-radius: 50%;
        object-fit: cover;
        object-position: 55% 0;
        margin-bottom: 100px;
      }
    }
  }
}
