.media {
  .media-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .media-item {
      padding: 0 16px;
      img {
        width: 300px;
        height: 150px;
      }
    }
  }
}
