@use "colors" as *;
@use "mixins" as *;

.fade-overlay {
  background: transparent;
  z-index: 2;
  animation: fade-out 200ms ease-in-out forwards;

  &.open {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 64px);
    background: rgba(0, 0, 0, 0.9);
    animation: fade-in 200ms ease-in-out forwards;
  }
}

.container {
  position: absolute;
  width: 271px;
  height: calc(100vh - 64px);
  right: 0;
  background: transparent;
  z-index: 10;
  animation: fade-out 200ms ease-in-out forwards;

  &.open {
    animation: fade-in 200ms ease-in-out forwards;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 223px;
  height: 380px;
  margin: 1.5rem;
  border-radius: 10px;

  ul {
    li a {
      color: $white;
      text-align: left;
      font-size: 40px;
      line-height: 60px;

      &::before {
        display: inline-block;
        content: "";
        width: 6px;
        height: 46px;
        margin-right: 13px;
        background: $yellow;
      }
    }
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
